{% extends "common/base.html" %}
{% load core %}
{% load staticfiles %}

{# User account dashboard #}
{% block html_body %}
  {% open_box %}
    <h2>Account Dashboard</h2>
  {% close_box %}

  {% open_box %}
    {# Docpages #}
    <h2><a href="{% url 'docpage:editor_list' %}">Recent Doc Pages</a></h2>

    <table class="table table-striped">
      <tr>
        <th>Page</th>
        <th>Edit Page</th>
        <th>View Page</th>
      </tr>
      {% for page in docpages %}
      <tr>
        <td>{{ page.category }} : {{ page.title }}</td>
        <td><a href="{% url 'docpage:editor_page' page.id %}">Edit Page</a></td>
        <td><a href="{{page.get_view_url}}">View Page</a></td>
      </tr>
      {% endfor %}
    </table>
  {% close_box %}

  {% open_box %}
    {# Apps #}
    <h2>PerCMS Apps</h2>
    
    <table class="table table-striped">
      <tr>
        <th>App</th>
        <th>Manage App</th>
        <th>View App</th>
      </tr>
      <tr>
        <td>Crawler</td>
        <td><a href="{% url 'crawler:dashboard' %}">Manage App</a></td>
        <td><a href="{% url 'crawler:view' %}">View App</a></td>
      </tr>
      <tr>
        <td>Alerts</td>
        <td><a href="{% url 'alerts:dashboard' %}">Manage App</a></td>
      </tr>
      <tr>
        <td>Scripts</td>
        <td><a href="{% url 'script:dashboard' %}">Manage App</a></td>
      </tr>
      <tr>
        <td>Ecom</td>
        <td><a href="{% url 'ecom:dashboard' %}">Manage App</a></td>
      </tr>
      <tr>
        <td>Crypto</td>
        <td><a href="{% url 'crypto:dashboard' %}">Manage App</a></td>
      </tr>
    </table>
  {% close_box %}

  {% open_box %}
    {# Projects #}
    <h2><a href="{% url 'project:editor_list' %}">Recent Projects</a></h2>

    <table class="table table-striped">
      <tr>
        <th>Project</th>
        <th>Edit Project</th>
        <th>View Project</th>
      </tr>
      {% for project in projects %}
      <tr>
        <td>[{{ project.category }}] {{ project.title }}</td>
        <td><a href="{% url 'project:editor' project.id %}">Edit Project</a></td>
        <td><a href="{{ project.get_view_url }}">View Project</a></td>
      </tr>
      {% endfor %}
    </table>
  {% close_box %}

  {% open_box %}
    {# Images #}
    <h2>Recent Images</h2>
    {% for image in images %}
      <div class='col-sm-2'>
        <a href="{% url 'file:describe' image.id %}">
          <img class="img-thumbnail" src="{% static image.url %}" />
        </a>
      </div>
    {% endfor %}
  {% close_box %}
{% endblock %}
