{% extends "common/base.html" %}
{% load core %}

{% block html_body %}
  {# Title/Nav Panel #}
  {% open_box %}
    <h2>{{ model }}: <u>{{ name }}</u></h2>
    <div class="text-center">
      {{ object.nav_link | safe }}
    </div>

    <div>
      <p> <b>Base Currency</b>: <u>{{ base.name }}</u> </p>
      <p> <b>Base Balance</b>: <u>{{ base.balance }}</u> </p>
      <p> <b>Position Limit</b>: <u>{{ limit.position }}</u> </p>
      <p> <b>Buy Limit</b>: <u>{{ limit.buy }}</u> </p>
    </div>
  {% close_box %}

  {# Portfolio Position #}
  {% open_box %}
    <h2>Position</h2>

    <table class="table table-striped">
      <tr>
        <th>Pair</th>
        <th>Balance</th>
        <th>Positions</th>
        <th>Stoploss</th>
      </tr>
      {% for pair in pairs %}
      <tr>
        <td>{{ pair.name }}</td>
        <td>{{ pair.balance }}</td>
        <td>{{ pair.position }}</td>
        <td>{{ pair.stoploss }}</td>
      </tr>
      {% endfor %}
    </table>
  {% close_box %}
{% endblock %}
