{% extends "common/base.html" %}
{% load core %}
{% load staticfiles %}
{# Editor tool for projects #}


{% block html_head %}
  {# Validator scripts #}
  <script src="{% static 'common/form_validator.js' %}"></script>
  <script src="{% static 'proj/editor_validator.js' %}"></script>
{% endblock %}


{% block html_body %}
  {% open_box %}
    <h2>Project Header</h2>
    <div class="text-center">
      <a href="{% url 'project:editor_list' %}">Back to Project List</a> |
      <a href="{% url 'project:view' project.id %}">View Project Home Page</a>
    </div><br />

    <form id="form_edit_header" class="form-horizontal" role="form"
      action="{% url 'project:edit' %}" method="post"
    >{% csrf_token %}
      <div class="form-group">
        {# Category field #}
        <label class="col-sm-3 control-label">Category</label>
        <div class="col-sm-8"><input class="form-control" type="text"
            id="edit_cat" name="category" value="{{ project.category }}"
        ></div>

        {# Title field #}
        <label class="col-sm-3 control-label">Title</label>
        <div class="col-sm-8"><input class="form-control" type="text"
            id="edit_title" name="title" value="{{ project.title }}"
        ></div>

        {# Project Repo field #}
        <label class="col-sm-3 control-label">Project Repository</label>
        <div class="col-sm-8"><input class="form-control" type="text"
            id="edit_repo" name="repo" value="{{ project.repo_URL }}"
        ></div>

        {# Project about page #}
        <label class="col-sm-3 control-label">Description DocPage ID</label>
        <div class="col-sm-8"><input class="form-control" type="text"
            id="edit_about" name="about" value="{{ about_page }}"
        ></div>

        {# Project ID (hidden) #}
        <div class="col-sm-8"><input class="form-control" type="hidden"
            id="edit_id" name="pk" value="{{ project.id }}"
        ></div>

      </div>

      {# Error Messages #}
      <div class="row"><div class="col-sm-offset-3 col-sm-8">
        {% if error %}
          <div class="panel panel-danger log-panel" id="log_edit_header">
            <div class="panel-heading">{{ error }}</div>
          </div>
        {% else %}
          <div class="panel panel-default log-panel" id="log_edit_header">
            <div class="panel-heading"></div>
          </div>
        {% endif %}
      </div></div>

      <button type="submit" class="btn btn-primary">
        Save Changes
      </button>
    </form>
  {% close_box %}
{% endblock %}
