{% extends "common/base.html" %}
{% load core %}
{% load staticfiles %}
{# Webpage for uploading documents #}


{% block html_head %}
  <script>
    /** Updates file name field to name of uploaded file */
    function updateFileName(){
      /* Get file name */
      var fileName = $('#upload_input')[0].files[0].name;

      /* Set file name */
      $('#file_name').val(fileName);

      console.log(fileName);
    }
  </script>
{% endblock %}

{% block html_body %}
  {% open_box %}
    <h2>Upload File</h2>

    <form id="form_upload" class="form-horizontal"
        enctype="multipart/form-data"
        method="post" action="{% url 'file:upload' %}"
    >
      {% csrf_token %}
      <div class="form-group">
        {# Upload button #}
        <label class="col-sm-3 control-label">Upload File</label>
        <div class="col-sm-8">
          <input type="file" name="file" id="upload_input" onchange="updateFileName()">
        </div>

        {# File category #}
        <label class="col-sm-3 control-label">Category</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="file_cat" name="category">
        </div>

        {# File name #}
        <label class="col-sm-3 control-label">File Name</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="file_name" name="name">
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% close_box %}

  {% if too_big %}{% open_box %}
    <h2>Error: File was too big</h2>
  {% close_box %}{% endif %}
  
  {% if file %}{% open_box %}
    {# Just uploaded a file #}
    <h2>Last Uploaded File</h2>

    <table class="table">
      <tr>
        <td><b>File Category:</b></td>
        <td>{{ file.category }}</td>
      </tr>

      <tr>
        <td><b>File Name:</b></td>
        <td>{{ file.name }}</td>
      </tr>

      <tr>
        <td><b>Is Image?</b></td>
        <td>{% if file.is_img %}Yes{% else %}No{% endif %}</td>
      </tr>

      <tr>
        <td><b>Date Uploaded:</b></td>
        <td>{{ file.dt_uploaded }}</td>
      </tr>
    </table>
    <br>

    {% if file.is_img %}
      <img class="img-thumbnail" src="{% static file_url %}" width="100"></img>
    {% endif %}
  {% close_box %}{% endif %}
{% endblock %}
