{% extends "common/base.html" %}
{% load core %}

{% block html_body %}
  {# Title/Nav Panel #}
  {% open_box %}
    <h2>{{ title }}</h2>
    <div class="text-center">
      {% if nav %}
      {{ model_dashboard | safe }} | {{ nav | safe }}
      {% else %}
      <a href="{{ app_dashboard }}">App Dashboard</a>
      {% endif %}
    </div>
  {% close_box %}

  {# Add Model Panel #}
  {% open_box %}
    <h2>Add {{ model_name }}</h2>
    {{ form | common_form | safe }}
  {% close_box %}

  {# Listing Panels #}
  {% for panel in panels %}
  {% open_box %}
    {% if 'link' in panel %}
    <h2><a href="{{ panel.link }}">{{ panel.title }}</a></h2>
    {% else %}
    <h2>{{ panel.title }}</h2>
    {% endif %}

    {# Panel Text #}
    <p>{{ panel.text }}</p>

    {# Panel table #}
    {% if 'table' in panel %}
    <table class="table table-striped">
      <tr>
      {% for header in panel.table.headers %}
        <th>{{ header }}</th>
      {% endfor %}
      </tr>

      {% for row in panel.table.rows %}
        <tr>
        {% for field in row %}
          <td>{{ field | safe }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% close_box %}
  {% endfor %}
{% endblock %}
