{% extends "common/base.html" %}
{% load core %}

{% block html_body %}
  {# Title/Nav Panel #}
  {% open_box %}
    <h2>{{ model }}: <u>{{ name }}</u></h2>
    <div class="text-center">
      {{ model_dashboard | safe }} | {{ object.nav_link | safe }}
    </div>
  {% close_box %}

  {# Edit Model Panel #}
  {% open_box %}
    <h2>Editor</h2>
    {{ form | common_form | safe }}
  {% close_box %}

  {% block custom_panels %}

  {# Listing Panels #}
  {% for panel in panels %}
  {% open_box %}
    {% if 'link' in panel %}
    <h2><a href="{{ panel.link }}">{{ panel.title }}</a></h2>
    {% else %}
    <h2>{{ panel.title }}</h2>
    {% endif %}

    {# Panel Text #}
    <p>{{ panel.text }}</p>

    {# Panel table #}
    {% if 'table' in panel %}
    <table class="table table-striped">
      <tr>
      {% for header in panel.table.headers %}
        <th>{{ header }}</th>
      {% endfor %}
      </tr>

      {% for row in panel.table.rows %}
        <tr>
        {% for field in row %}
          <td>{{ field | safe }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% close_box %}
  {% endfor %}

  {% endblock %}


  {# Delete Model Panel #}
  {% open_box %}
    <h2>Delete</h2>

    <form id="form_del" class="form-horizontal" role="form"
        action="{{ post_delete }}" method="post"
    >{% csrf_token %}
      <input type="hidden" name="pk" value="{{ object.id }}">
      <button onclick="return confirm('Delete {{ name }}?')"
          type="submit" class="btn btn-primary pull-right">
        Delete
      </button>
    </form>
  {% close_box %}
{% endblock %}
