{% extends "common/base.html" %}
{% load core %}
{% load staticfiles %}
{# List entries of doc pages for editting #}

{% block html_head %}
  {# Validator scripts #}
  {% if validators %}
  <script src="{% static 'common/form_validator.js' %}"></script>
  {% for js_validator in validators %}
    <script src="{% static js_validator %}"></script>
  {% endfor %}
  {% endif %}

  {# Other scripts #}
  <script src="{% static 'docpage/editor_list.js' %}"></script>
{% endblock %}

{% block html_body %}
  {% open_box %}
    <h2>Add New Page</h2>

    {# Form for adding new docpages #}
    <form id="form_add_new" class="form-horizontal" role="form"
        action="{% url 'docpage:add_page' %}" method="post"
    >{% csrf_token %}
      <div class="form-group">
        {# Category field #}
        <label class="col-sm-3 control-label">Category</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="add_cat" name="category">
        </div>

        {# Title field #}
        <label class="col-sm-3 control-label">Title</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="add_title" name="title">
        </div>
      </div>

      <button type="submit" class="btn btn-primary pull-right">Add New</button>
    </form>
  {% close_box %}


  {% open_box %}
    <h2>Doc Pages</h2>
    {# Lists entries #}

    <table class="table table-striped">
      {# Header #}
      <tr>
        <th>Page Name</th>
        <th>Last Editted</th>
        <th>URL</th>
      </tr>
      {% for page in docpages %}
      <tr>
        <td>{{ page.category }} : {{ page.title }}</td>
        <td>{{ page.dt_editted }}</td>
        <td>
          <a href="{% url 'docpage:editor_page' page.id %}">Edit Page</a> |
          <a
              href="{% url 'docpage:view_page' page.id %}{{ page.get_normalized_name }}"
          >View Page</a>
        </td>
      </tr>
      {% endfor %}
    </table>

  {% close_box %}
{% endblock %}
